<!-- <div class="container">
  <div class="row">
    <div class="col-12 border p-3">
      <div class="contain">This column is 12 cells wide and has padding</div>
    </div>
  </div>
  <div class="row border">This row has no columns and no padding</div>
  <div class="row">
    <div class="col-1 border">This column is 1 cell wide</div>
    <div class="col-2 border">This column is 2 cells wide</div>
    <div class="col-3 border">This column is 3 cells wide</div>
    <div class="col-4 border">This column is 4 cells wide</div>
  </div>
  <div class="row">
    <div class="col-3 p-3">
      <button type="button" class="btn btn-primary">Test button</button>
    </div>
  </div>
</div> -->

<div class="container" id="header-component">
  <div class="row border p-3">
    <div class="col-9">
      <h2>Welcome, {{"User"}}</h2>
    </div>
    <div class="col-3">
      <div class="float-end">
        <button class="btn btn-primary">Logout</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 border">
      <app-conversation-control></app-conversation-control>
      <app-conversation-history></app-conversation-history>
      <div class="border p-3">
        <app-contact-list></app-contact-list>
      </div>
    </div>
  </div>
</div>