<div class="container">
  <div class="row">
    <div class="col-12 border p-3">
      <div class="contain">This column is 12 cells wide and has padding</div>
    </div>
  </div>
  <div class="row border">This row has no columns and no padding</div>
  <div class="row">
    <div class="col-1 border">This column is 1 cell wide</div>
    <div class="col-2 border">This column is 2 cells wide</div>
    <div class="col-3 border">This column is 3 cells wide</div>
    <div class="col-4 border">This column is 4 cells wide</div>
  </div>
  <div class="row">
    <div class="col-3 p-3">
      <button type="button" class="btn btn-primary">Test button</button>
    </div>
  </div>
</div>

<div class="container" id="header-component">
  <div class="row">
    <div class="col-12 border p-3">
      <h2>header-component</h2>

      <div class="container" id="conversation-control-component">
        <div class="row">
          <div class="col-12 border p-3">
            <h3>conversation-control-component</h3>
          </div>
        </div>
      </div>

      <div class="container" id="conversation-history-component">
        <div class="row">
          <div class="col-12 border p-3">
            <p>conversation-history-component</p>

            <div class="container" id="list-of-users">
              <div class="row">
                <div class="col-12 p-3">
                  list-of-users-component
                </div>
              </div>
              <div class="row">
                <div class="col-12 border p-3">
                  conversation-thread-component

                  <div class="container">
                    <div class="row">
                      <div class="col-9 border p-3">
                        sender-message
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-9 border p-3">
                        sender-message
                      </div>
                    </div>
                  </div>

                  <div class="container">
                    <div class="row">
                      <div class="col-3 border p-3"></div>
                      <div class="col-9 border p-3">
                        user-message
                      </div>
                    </div>
                  </div>
                                  
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-12 border p-3">
                  send message component
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container" id="contact-list">
        <div class="row">
          <div class="col-12 border p-3">
            <p>contact-list-component</p>

            <div class="row">
              <div class="col-9 border p-3">
                contact-component
              </div>
            </div>
            <div class="row">
              <div class="col-9 border p-3">
                contact-component
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
